div{
	border: 1px solid #ccc;
	min-height: 100px;
	//margin: 10px 0px 10px 0px;
}
button{
	margin: 10px 0px;
	float: right;
}
.container{
	margin: 30px auto;
}
label{
	margin-top: 20px;
}
#partyMembers{
	max-height: 20px;
}