div{
	margin: 10px 0px 10px 0px;
	color: #495057;
}
.col-md-6{
    border: 1px solid #ccc;
    padding: 10px auto;
}
button{
	margin: 10px 0px;
	float: right;
}
.container{
	margin: 30px auto;
}
label{
	margin-top: 20px;
}
#partyMembers{
	max-height: 20px;
	overflow:hidden;
}
form{
	border:none;
}
.user, .expense{
	border-bottom: 1px solid #ccc;
	font-size: 20px;
	padding: 5px 20px;
	margin: 5px 70px;
}
h3{
	margin-top: 10px;
	font-size: 30px;
	height: auto;
}
h4{
	text-align: center;
	margin: 100px auto;
}
.float-r{
	float: right;
}